@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch|Faster+One|Julius+Sans+One|Poiret+One&display=swap');
/*font-family: 'Julius Sans One', sans-serif;
font-family: 'Cabin Sketch', cursive;
font-family: 'Poiret One', cursive;
font-family: 'Faster One', cursive;*/

h1{
    font-family: 'Cabin Sketch', cursive;
}

nav{
    background-color: #123;
}

nav li{
    margin: 0px 10px;
}

nav a{
    font-size: 17px;
    font-family: 'Julius Sans One', sans-serif;
}

.navbar-brand{
    font-family: 'Faster One', cursive;;
}

.container{
    margin: 0 auto;
    width: 80%;
    padding: 2vh;
}

.box{
    padding: 20px;
}

.profile{
    margin: 0 auto;
    width: 50%;
    border: 1px double gray;
}

h3{
    font-size: 17px;
    font-family: 'Julius Sans One', sans-serif;
    padding: 5px 0px;
}

p{
    font-size: 16px;
    font-family: 'Poiret One', cursive;
}
