<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Error page</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--Executed by the browser-->
    <link href="/reset.css" rel="stylesheet"/>
    <link href="/styles.css" rel="stylesheet"/>
</head>
<body>
    <div th:replace="fragments/nav :: navigationbar(${user})"></div>
    <main>
        <h1>Error</h1>
        <table>
            <tr>
                <td>Path</td>
                <td th:text="${path}"></td>
            </tr>
            <tr>
                <td>Error</td>
                <td th:text="${error}"></td>
            </tr>
            <tr>
                <td>Status</td>
                <td th:text="${status}"></td>
            </tr>
            <tr>
                <td>Message</td>
                <td th:text="${message}"></td>
            </tr>
        </table>
    </main>

</body>
</body>
</html>